*{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.logo-circle{
    width:24px;
    height:24px;
    background: linear-gradient(90deg, #E26EFF, #FF00A7);
    border-radius: 50%;
}

.logo-text{
    font-size:48px;
    font-weight: 600;
}

.logo{
    display: flex;
    gap: 18px;
    align-items:center;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 45px;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.section-preview{
    margin-bottom:540px;
}

header{
    margin-bottom: 160px;
}

.btn{
    background: linear-gradient(90deg, #E26EFF, #FF00A7);
    color: white !important;
    border-radius: 40px !important;
}

.btn:hover{
    background: linear-gradient(90deg, #DA47FF, #FF41BD);
}

.btn:active{
    background: linear-gradient(90deg, #B300E0, #DF0092);
}

.services-list{
    padding: 0;
    font-size: 32px;
    width: 545px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
}

ul{
    list-style-type: none;
}

.services-list a{
    color: white !important;
}

.services-list li{
    display: flex;
    justify-content: space-between;
}

.img-block{
    position: absolute;
    top: 250px;
    right: 0;
    width: 1200px;
}

.section-title{
    width: 550px;
}

h1.title-primary{
  font-weight: 600; 
  margin-bottom: 55px;
}

.section-services{
    display: flex;
    justify-content: left;
    gap: 150px;
    color: white;
    margin-bottom: 500px;
}

.title-secondary{
    font-size: 48px;
    font-weight: 600;
}

.section-services .title-secondary{
    margin-bottom: 70px;
}

.bg-img{
    position: absolute;
    z-index: -1;
}

.bg-1{
    top: 0;
    right: 0;
}

.subsection-title{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
    margin-bottom: 135px;
}

.subsection-title img{
    width: fit-content;

}

.gr-1{
    top: 850px;
    right: 0;
}

.section-masters{
   margin-bottom: 350px;
}

.master-card{
    display: flex;
    width: 360px;
    height: 505px;
    background-color: white;
    border-radius: 17px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
}

.masters-list{
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
}

.master-name{
    margin-top: 35px;
    font-size: 40px;
}

.master-image{
    border-radius: 17px;
}

.bg-2{
    top: 2200px;
}

.btn-details{
    margin: 0 auto;
}

.gr-2{
    width: 98vw;
    top: 1950px;
}

.gr-4{
    top: 2400px;
}

.title-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.bg-3{
    right: 0;
    top: 3400px;
}

.gr-3{
    width: 98vw;
    top: 3450px;
}

footer.container{
    margin-top: 400px;
}

.dot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #FF5E5E;
}

.dot-2{
    background-color: #070707;
}

.dots{
    display: flex;
    gap: 28px;
}

.footer-list-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo-footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-list-left{
    padding: 0;
}

.top-border{
    margin-bottom: 65px;
}

.top-border .line{
    height: 2.88px;
    background-color: #070707;
}

.gr-5{
    width: 98vw;
    top: 4550px;
}

.contacts-map iframe{
    width: 100%;
    border-radius: 70px;
}

.contact-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    margin-bottom: 150px;
}

.section-contacts h2{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 85px;
}

.contact-title h3{
    font-weight: 600;
}

.contact-desc p{
    font-size: 24px;
    margin: 0;
}

.bg-4{
    top: 0;
}

.gr-6{
    top: 250px;
    right: 20px;
}

.master-block{
    display: flex;
}

.services-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 400px;
    row-gap: 5px;
}

.services-list p{
    margin: 0;
}

.page-title{
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.page-title p, .page-title h1{
    text-align: center;
}

.page-title h1{
    font-size: 64px;
    margin-bottom: 24px;
}

.page-title p{
    font-size: 32px;
}

a.active-link{
    font-weight: 600;
    color: #DF0092 !important;
}

.sort-block{
    margin-bottom: 50px;
    font-size: 24px;
}

.sort-link{
    font-size: 22px;
}

.pagination{
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 28px;
}

.pagination a{
    color: rgb(175, 175, 175) !important;
}

span.current{
    border-radius: 20px;
    border: 2px solid #DF0092;
    background-color: white;
    padding: 6px 12px;
    margin: 0 10px;
}

.bg-5{
    top: 0;
    left: 0;
}

.bg-6{
    top: 1750px;
    width: 100vw;
    right: 0;
}

.pagination a.side-btn{
    color: #070707 !important;
}

.gr-7{
    top: 150px;
    right: 0;
}

.section-masters .masters-list{
    gap: 100px;
}

.content-404{
    display: flex;
    margin-bottom: 50px;
}

.error-img img{
    width: 100%;
}

.error-textblock{
    padding-left: 55px;
}

.error-code{
    font-size: 200px;
    margin-bottom: 0;
}

.error-message{
    font-size: 48px;
    margin-bottom: 87px;
}

.section-form{
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form p{
    display: flex;
    flex-direction: column;
}

form input, form select{
    width: 528px;
    font-size: 24px;
    height: 56px;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.26);
    color: white;
    font-weight: 600;
    padding: 0 20px;
}

option{
    color: #070707;
}

.modal-header{
    justify-content: space-between;
}

.btn-secondary{
    border: 2px solid #979797;
    background: white;
    color: #979797 !important;
}

.btn-secondary:hover{
    background: rgb(218, 218, 218);
}

.btn-secondary:active{
    background: rgb(182, 182, 182);
}

.close{
    border-radius: 20px;
    width: 27px;
    height: 27px;
}

@media screen and (max-width: 1440px){
    .bg-img{
        width: 100vw;
    }

    .section-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-masters .masters-list {
        justify-content: center;
    }

    .btn-details{
        width: 50%;
    }

    form input, form select{
        background: rgb(0 165 251 / 26%);
    }

    .master-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .services-list{
        height: auto;
    }

    .bg-6{
        display: none;
    }

    .page-title{
        width: auto;
    }
}

@media screen and (max-width: 1024px){
    header li {
        display: none;
    }
    
    header li:last-child {
        display: block;
    }

    footer .col-4{
        display: none;
    }

    footer .col-4.logo-footer{
        display: block;
    }

    .section-services{
        flex-direction: column;
        align-items: center;
    }

    .bg-2 {
        top: 1300px;
    }

    .img-block{
        width: 1000px;
    }

    .contact-card {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        margin-bottom: 150px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .section-services{
        flex-direction: column;
    }

    .bg-img{
        width: 100vw;
    }

    .img-block {
        position: absolute;
        top: 450px;
        right: 0;
        width: 600px;
    }

    .bg-2 {
        top: 1100px;
    }

    .section-services img{
        width: 50%;
        margin: 0 auto;
        display: flex;
    }

    .section-form img{
        width: 100%;
    }

    form input, form select{
        width: auto;
    }

    .section-title{
        width: auto;
    }

    .error-textblock.col-6{
        padding: 0;
    }

    .content-404{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px){
    .bg-2 {
        top: 1300px;
    }

    .list-part{
        display: flex;
        flex-direction: column;
        color: black;
        align-items: center;
    }


}